<template>
  <div>
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-12">
            <div class="back-control">
              <router-link to="/security/user"> <i class="fe fe-chevron-left"></i> Back </router-link>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-lg-12">
                <vb-headers-card-header :data="{ title: 'Create User' }" />
              </div>
            </div>
          </div>
          <div class="card-body">
            <a-form :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">

              <a-form-item required label="Username">
                <a-input  v-model:value="form.username" style="width: 100%" />
              </a-form-item>

              <a-form-item required label="Email">
                <a-input  v-model:value="form.email" style="width: 100%" />
              </a-form-item>

              <a-form-item required label="Password">
                <a-input type="password"  v-model:value="form.password" style="width: 100%" />
              </a-form-item>

              <a-form-item :wrapper-col="{ span: 12, offset: 5 }">
                <a-button :loading="loadingSubmit" :disabled="!formValid" @click="submit" type="primary" html-type="submit"> Submit </a-button>
              </a-form-item>
            </a-form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import VbHeadersCardHeader from '@/assets/widgets/Headers/CardHeader'
import { AuthControllers } from "@/controllers/AuthControllers"
import router from '@/router'

export default {
  name: 'CreateItem',
  components: {
    VbHeadersCardHeader,
  },

  data: () => ({
    user: new AuthControllers(false, false, ''),
    form: {
        username: '',
        email: '',
        password: '',
        roles: ['ROLE_ADMIN'],
    },
    loadingSubmit: false,
  }),
  computed: {
    formValid() {
      return this.form.username &&
        this.form.email &&
        this.form.password
    },
    isError() {
      return this.user.error
    },
    errorCause() {
      return this.user.errorCause
    },
  },
  methods: {
    async submitProcess(
      username, email, password, roles,
    ) {
      return this.user.createUser(
        username, email, password, roles,
      )
    },
    async submit() {
      this.loadingSubmit = true
      await this.submitProcess(
        this.form.username,
        this.form.email,
        this.form.password,
        this.form.roles,
      )

      if(!this.isError) {
        const type = 'success'
        this.$notification[type]({
          message: 'Success',
          description:
            'Data created and save to database successfully',
        })
        router.push('/master/user')
      } else {
        const type = 'error'
        this.$notification[type]({
          message: 'Error',
          description: this.errorCause,
        })
      }
      this.loadingSubmit = false
    },
  },
}
</script>
<style scoped>
.back-control {
  padding: 12px 0 12px 0;
  font-size: 16px;
  cursor: pointer;
}
</style>
