<template>
  <div>
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-lg-10">
                <vb-headers-card-header :data="{ title: 'User List' }" />
              </div>
              <div class="col-lg-2">
                <a-button type="primary" block @click="create">Create</a-button>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>No</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
              <a-button-group>
                <a-button disabled type="primary"> Previous </a-button>
                <a-button type="primary"> Next </a-button>
              </a-button-group>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import VbHeadersCardHeader from '@/assets/widgets/Headers/CardHeader'
import { AuthControllers } from "@/controllers/AuthControllers"

export default {
  name: 'MasterUser',
  components: {
    VbHeadersCardHeader,
  },

  data: () => ({
    user: new AuthControllers(false, false, ''),
  }),
  computed: {
  },
  methods: {
    create() {
      this.$router.push({
        name: "Create User",
      })
    },
  },
}
</script>
