<template>
  <div>
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-12">
            <div class="back-control">
              <router-link to="/master/item/0"> <i class="fe fe-chevron-left"></i> Back </router-link>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-lg-12">
                <vb-headers-card-header :data="{ title: 'Create Item' }" />
              </div>
            </div>
          </div>
          <div class="card-body">
            <a-form :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
              <a-form-item required label="Company">
                <a-select
                  show-search
                  placeholder="Select Company"
                  :option-filter-prop="children"
                  style="width: 100%"
                  :filter-option="filterOption"
                  @change="handleChange"
                >
                  <a-select-option v-for="(company, index) in companies" :key="index" :value="company.code">
                    {{ company.code }} - {{ company.name }}
                  </a-select-option>
                </a-select>
              </a-form-item>

              <a-form-item required label="Item">
                <a-input-group compact>
                  <a-input v-model:value="form.item.code" style="width: 30%" placeholder="Code" />
                  <a-input v-model:value="form.item.name" style="width: 70%" placeholder="Name" />
                </a-input-group>
              </a-form-item>

              <a-form-item required label="Base Price">
                <a-input type="number" v-model:value="form.price.basePrice" style="width: 100%" />
              </a-form-item>

              <a-form-item required label="Normal Price">
                <a-input type="number" v-model:value="form.price.normalPrice" style="width: 100%" />
              </a-form-item>

              <a-form-item required label="Volume">
                <a-input type="number" v-model:value="form.volume" style="width: 100%" />
              </a-form-item>

              <a-form-item required label="Remark">
                <a-input v-model:value="form.remark" style="width: 100%" />
              </a-form-item>

              <a-form-item label="Active Status">
                <a-switch @change="onChangeStatus" />
              </a-form-item>

              <a-form-item :wrapper-col="{ span: 12, offset: 5 }">
                <a-button :loading="loadingSubmit" :disabled="!formValid" @click="submit" type="primary" html-type="submit"> Submit </a-button>
              </a-form-item>
            </a-form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import VbHeadersCardHeader from '@/assets/widgets/Headers/CardHeader'
import moment from 'moment'
moment.suppressDeprecationWarnings = true
import { ItemControllers } from "@/controllers/ItemControllers"
import { CompanyControllers } from "@/controllers/CompanyControllers"
import router from '@/router'

export default {
  name: 'CreateItem',
  components: {
    VbHeadersCardHeader,
  },

  data: () => ({
    item: new ItemControllers(false, false, '', []),
    company: new CompanyControllers(false, false, '', []),
    form: {
      companyCode: '',
      item: {
        code: '',
        name: '',
      },
      price: {
        basePrice: '',
        normalPrice: '',
      },
      volume: '',
      remark: '',
      status: false,
    },
    children: '',
    loadingSubmit: false,
  }),
  computed: {
    companies() {
      return this.company.dataItems.map((item) => {
        return {
          code: item.code,
          name: item.name,
        }
      })
    },
    formValid() {
      return this.form.companyCode &&
        this.form.item.code &&
        this.form.item.name &&
        this.form.price.basePrice &&
        this.form.price.normalPrice &&
        this.form.volume &&
        this.form.remark
    },
    isError() {
      return this.item.error
    },
    errorCause() {
      return this.item.errorCause
    },
  },
  created() {
    this.getCompanyList()
  },
  methods: {
    getCompanyList() {
      return this.company.listCompany('Code', true, 0, 1000, 'code,ASC')
    },
    moment,
    onChangeStatus() {
      this.form.status = !this.form.status
    },
    async submitProcess(
      activeStatus,
      basedPrice,
      code,
      companyCode,
      name,
      normalPrice,
      remark,
      volume,
    ) {
      return this.item.createItem(
        activeStatus,
        basedPrice,
        code,
        companyCode,
        name,
        normalPrice,
        remark,
        volume,
      )
    },
    async submit() {
      this.loadingSubmit = true
      await this.submitProcess(
        this.form.status,
        Number(this.form.price.basePrice),
        this.form.item.code,
        this.form.companyCode,
        this.form.item.name,
        Number(this.form.price.normalPrice),
        this.form.remark,
        Number(this.form.volume),
      )

      if(!this.isError) {
        const type = 'success'
        this.$notification[type]({
          message: 'Success',
          description:
            'Data created and save to database successfully',
        })
        router.push('/master/item/0')
      } else {
        const type = 'error'
        this.$notification[type]({
          message: 'Error',
          description: this.errorCause,
        })
      }
      this.loadingSubmit = false
    },
    handleChange(value) {
      this.form.companyCode = value
    },
    filterOption(input, option) {
      return (
        option.children[0].children.toLowerCase().indexOf(input.toLowerCase()) >= 0
      );
    },
  },
}
</script>
<style scoped>
.back-control {
  padding: 12px 0 12px 0;
  font-size: 16px;
  cursor: pointer;
}
</style>
