<template>
  <div>
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-12">
            <div class="back-control">
              <router-link :to="`/master/item/${page}`"> <i class="fe fe-chevron-left"></i> Back </router-link>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-lg-10">
                <vb-headers-card-header :data="{ title: 'Detail Item' }" />
              </div>
              <div class="col-lg-2">
                <a-button v-if="!isEdit" block type="primary" @click="edit()">
                    Edit
                </a-button>
                <a-button v-else block type="secondary" @click="cancel()">
                    Cancel
                </a-button>
              </div>
            </div>
          </div>
          <div class="card-body">
            <a-form :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
              <a-form-item required label="Company">
                <a-input v-if="!isEdit" disabled v-model:value="detailItem.companyCode" style="width: 100%" />
                <a-select
                  v-else
                  show-search
                  v-model:value="detailItem.companyCode"
                  placeholder="Select Company"
                  :option-filter-prop="children"
                  style="width: 100%"
                  :filter-option="filterOption"
                  @change="handleChange"
                >
                  <a-select-option v-for="(company, index) in companies" :key="index" :value="company.code">
                    {{ company.code }} - {{ company.name }}
                  </a-select-option>
                </a-select>
              </a-form-item>

              <a-form-item required label="Item">
                <a-input-group compact>
                  <a-input disabled v-model:value="detailItem.code" style="width: 30%" placeholder="Code" />
                  <a-input :disabled="!isEdit" v-model:value="detailItem.name" style="width: 70%" placeholder="Name" />
                </a-input-group>
              </a-form-item>

              <a-form-item required label="Base Price">
                <a-input :disabled="!isEdit" v-model:value="detailItem.basedPrice" type="number" style="width: 100%" />
              </a-form-item>

              <a-form-item required label="Normal Price">
                <a-input :disabled="!isEdit" v-model:value="detailItem.normalPrice" type="number" style="width: 100%" />
              </a-form-item>

              <a-form-item required label="Volume">
                <a-input :disabled="!isEdit" v-model:value="detailItem.volume" type="number" style="width: 100%" />
              </a-form-item>

              <a-form-item required label="Remark">
                <a-input :disabled="!isEdit" v-model:value="detailItem.remark" style="width: 100%" />
              </a-form-item>

              <a-form-item v-if="!isEdit" label="Active Status">
                <a-tag color="green" v-if="detailItem.activeStatus">
                    Active
                </a-tag>
                <a-tag color="red" v-else>
                    In Active
                </a-tag>
              </a-form-item>

              <a-form-item v-else label="Active Status">
                <a-select :default-value="detailItem.activeStatus" style="width: 50%;" @change="handleChangeStatus">
                    <a-select-option :value="true">
                        Aktif
                    </a-select-option>
                    <a-select-option :value="false">
                        In Aktif
                    </a-select-option>
                </a-select>
              </a-form-item>

              <a-form-item v-if="isEdit" :wrapper-col="{ span: 12, offset: 5 }">
                <a-button :loading="loadingSubmit" :disabled="!formValid" @click="update" type="primary" html-type="submit"> Update </a-button>
              </a-form-item>

            </a-form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import VbHeadersCardHeader from '@/assets/widgets/Headers/CardHeader'
import moment from 'moment'
moment.suppressDeprecationWarnings = true
import { ItemControllers } from "@/controllers/ItemControllers"
import { CompanyControllers } from "@/controllers/CompanyControllers"

export default {
  name: 'DetailItem',
  components: {
    VbHeadersCardHeader,
  },

  data: vm => ({
    item: new ItemControllers(false, false, '', []),
    company: new CompanyControllers(false, false, '', []),
    page: vm.$route.params.page,
    isEdit: false,
    children: '',
    loadingSubmit: false,
  }),
  computed: {
    companies() {
      return this.company.dataItems.map((item) => {
        return {
          code: item.code,
          name: item.name,
        }
      })
    },
    formValid() {
      return this.detailItem.companyCode &&
        this.detailItem.code &&
        this.detailItem.name &&
        this.detailItem.basedPrice &&
        this.detailItem.normalPrice &&
        this.detailItem.volume &&
        this.detailItem.remark
    },
    isError() {
      return this.item.error
    },
    errorCause() {
      return this.item.errorCause
    },
    detailItem() {
        return this.item.detailItem
    },
  },
  created() {
    this.getCompanyList()
    this.getItemByCode()
  },
  methods: {
    getCompanyList() {
      return this.company.listCompany('Code', true, 0, 1000, 'code,ASC')
    },
    getItemByCode() {
        return this.item.getItemById(this.$route.params.id)
    },
    moment,
    edit() {
        this.isEdit = true
    },
    cancel() {
        this.isEdit = false
        this.getItemByCode()
    },
    handleChange(value) {
      this.detailItem.companyCode = value
    },
    handleChangeStatus(value) {
        this.detailItem.activeStatus = value
    },
    filterOption(input, option) {
      return (
        option.children[0].children.toLowerCase().indexOf(input.toLowerCase()) >= 0
      );
    },
    async updateProcess(
      activeStatus,
      basedPrice,
      code,
      companyCode,
      name,
      normalPrice,
      remark,
      volume,
    ) {
      return this.item.updateItem(
        activeStatus,
        basedPrice,
        code,
        companyCode,
        name,
        normalPrice,
        remark,
        volume,
      )
    },
    async update() {
      this.loadingSubmit = true
      await this.updateProcess(
        this.detailItem.activeStatus,
        Number(this.detailItem.basedPrice),
        this.detailItem.code,
        this.detailItem.companyCode,
        this.detailItem.name,
        Number(this.detailItem.normalPrice),
        this.detailItem.remark,
        Number(this.detailItem.volume),
      )

      if(!this.isError) {
        const type = 'success'
        this.$notification[type]({
          message: 'Success',
          description:
            'Data updated and save to database successfully',
        })
        this.cancel()
      } else {
        const type = 'error'
        this.$notification[type]({
          message: 'Error',
          description: this.errorCause,
        })
      }
      this.loadingSubmit = false
    },
  },
}
</script>
<style scoped>
.back-control {
  padding: 12px 0 12px 0;
  font-size: 16px;
  cursor: pointer;
}
</style>
