<template>
  <div>
    <vb-forgot-password />
  </div>
</template>
<script>
import VbForgotPassword from '@/assets/setup/Auth/ForgotPassword'
export default {
  components: {
    VbForgotPassword,
  },
}
</script>
