<!DOCTYPE html>
<html lang="en" data-vb-theme="default" data-vb-version="fluent">

<head>
  <meta charset="utf-8" />
  <title>Backoffice</title>
  <link rel="shortcut icon" href="<%= BASE_URL %>favicon.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="theme-color" content="#ffffff" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@400;700;800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>resources/fonts/font-icomoon/style.css">
  <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>resources/fonts/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>resources/fonts/font-linearicons/style.css">
  <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>resources/fonts/font-feathericons/dist/feather.css">
  <style>
    .initial__loading {
      position: fixed;
      width: 50px;
      height: 50px;
      top: 50%;
      left: 50%;
      margin: -25px 0 0 -25px
    }

    .initial__loading svg {
      width: 50px;
      height: 50px;
    }

    .initial__loading svg path {
      stroke: #4b7cf3;
      fill: #4b7cf3;
      stroke-width: 1px;
      animation: logoAnimate 0.6s ease-in-out infinite;
    }

    .initial__loading svg path:nth-child(2) {
      animation-delay: .2s;
    }

    .initial__loading svg path:nth-child(3) {
      animation-delay: .4s;
    }

    @keyframes logoAnimate {
      0% {
        stroke: #4b7cf3;
        fill: #4b7cf3;
      }

      50% {
        stroke: #1ad697;
        fill: #1ad697;
      }

      100% {
        stroke: #4b7cf3;
        fill: #4b7cf3;
      }
    }
  </style>
</head>

<body>
  <noscript>You need to enable JavaScript to run this app.</noscript>
  <div id="app">
    <div class="initial__loading">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" version="1.1" height="24px" width="24px">
        <g>
          <path fill="#4b7cf3" strokeWidth="1" stroke="#4b7cf3"
            d="M12,10.9c-0.1,0-0.2,0-0.2-0.1L3.5,6.1C3.4,6,3.3,5.8,3.3,5.6c0-0.2,0.1-0.3,0.2-0.4l8.2-4.7c0.2-0.1,0.3-0.1,0.5,0      l8.2,4.7c0.2,0.1,0.2,0.3,0.2,0.4S20.6,6,20.5,6.1l-8.2,4.7C12.2,10.8,12.1,10.9,12,10.9z M4.8,5.6L12,9.8l7.2-4.2L12,1.5      L4.8,5.6z" />
          <path fill="#4b7cf3" strokeWidth="1" stroke="#4b7cf3"
            d="M13.6,23.6c-0.1,0-0.2,0-0.2-0.1c-0.2-0.1-0.2-0.3-0.2-0.4v-9.5c0-0.2,0.1-0.3,0.2-0.4l8.2-4.7c0.2-0.1,0.3-0.1,0.5,0      c0.2,0.1,0.2,0.3,0.2,0.4v9.5c0,0.2-0.1,0.3-0.3,0.4l-8.2,4.7C13.8,23.6,13.7,23.6,13.6,23.6z M14.1,13.9v8.3l7.2-4.2V9.8      L14.1,13.9z" />
          <path fill="#4b7cf3" strokeWidth="1" stroke="#4b7cf3"
            d="M10.4,23.6c-0.1,0-0.2,0-0.2-0.1l-8.2-4.7c-0.2-0.1-0.3-0.3-0.3-0.4V8.9c0-0.2,0.1-0.3,0.2-0.4c0.2-0.1,0.3-0.1,0.5,0      l8.2,4.7c0.2,0.1,0.2,0.3,0.2,0.4v9.5c0,0.2-0.1,0.3-0.2,0.4C10.5,23.6,10.5,23.6,10.4,23.6z M2.7,18.1l7.2,4.2v-8.3L2.7,9.8      V18.1z" />
        </g>
      </svg>
    </div>
  </div>
</body>

</html>