<template>
  <div>
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-12">
            <div class="back-control">
              <router-link to="/generate/0"> <i class="fe fe-chevron-left"></i> Back </router-link>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-lg-12">
                <vb-headers-card-header :data="{ title: 'Generate QRCode' }" />
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-12 mb-5">
                <a-alert
                  message="Informational Notes"
                  description="Generate QRCode take several minutes to finish on background system"
                  type="info"
                  show-icon
                />
              </div>
            </div>
            <a-form :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
              <a-form-item required label="Company">
                <a-select
                  show-search
                  placeholder="Select Company"
                  :option-filter-prop="children"
                  style="width: 100%"
                  :filter-option="filterOption"
                  @change="handleChange"
                >
                  <a-select-option v-for="(company, index) in companies" :key="index" :value="company.code">
                    {{ company.code }} - {{ company.name }}
                  </a-select-option>
                </a-select>
              </a-form-item>

              <a-form-item required label="Item">
                <a-select
                  show-search
                  placeholder="Select Item"
                  :option-filter-prop="children"
                  style="width: 100%"
                  :filter-option="filterOptionItem"
                  @change="handleChangeItem"
                >
                  <a-select-option v-for="(item, index) in items" :key="index" :value="item.code">
                    {{ item.code }} - {{ item.name }}
                  </a-select-option>
                </a-select>
              </a-form-item>

              <a-form-item required label="Product Sort">
                <a-input-group compact>
                  <a-input type="number" v-model:value="form.product.start" style="width: 30%" placeholder="Start" />
                  <a-input type="number" v-model:value="form.product.end" style="width: 30%" placeholder="End" />
                </a-input-group>
              </a-form-item>

              <a-form-item required label="Url Link">
                <a-input v-model:value="form.urlLink" style="width: 100%" />
              </a-form-item>

              <a-form-item required label="Url Logo">
                <a-input v-model:value="form.urlLogo" style="width: 100%" />
              </a-form-item>

              <a-form-item :wrapper-col="{ span: 12, offset: 5 }">
                <a-button :loading="loadingSubmit" :disabled="!formValid" @click="submit" type="primary" html-type="submit"> Submit </a-button>
              </a-form-item>
            </a-form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import VbHeadersCardHeader from '@/assets/widgets/Headers/CardHeader'
import moment from 'moment'
moment.suppressDeprecationWarnings = true
import { ItemControllers } from "@/controllers/ItemControllers"
import { CompanyControllers } from "@/controllers/CompanyControllers"
import { GenerateControllers } from "@/controllers/GenerateControllers"
import router from '@/router'

export default {
  name: 'CreateItem',
  components: {
    VbHeadersCardHeader,
  },

  data: () => ({
    item: new ItemControllers(false, false, '', []),
    company: new CompanyControllers(false, false, '', []),
    generate: new GenerateControllers(false, false, '', [], false, ''),
    form: {
      companyCode: '',
      itemCode: '',
      product: {
        start: null,
        end: null,
      },
      urlLink: '',
      urlLogo: '',
    },
    children: '',
    loadingSubmit: false,
  }),
  computed: {
    companies() {
      return this.company.dataItems.map((item) => {
        return {
          code: item.code,
          name: item.name,
        }
      })
    },
    items() {
      return this.item.dataItems.map((item) => {
        return {
          code: item.code,
          name: item.name,
        }
      })
    },
    formValid() {
      return this.form.companyCode &&
        this.form.itemCode &&
        this.form.product.start &&
        this.form.product.end &&
        this.form.urlLink &&
        this.form.urlLogo
    },
  },
  created() {
    this.getCompanyList()
    this.getItemList()
  },
  methods: {
    getCompanyList() {
      return this.company.listCompany('Code', true, 0, 1000, 'code,ASC')
    },
    getItemList() {
      return this.item.listItem('Code', true, 0, 1000, 'code,ASC')
    },
    moment,
    async generateProcess(
        companyCode,
        itemCode,
        productEnd,
        productStart,
        urlLink,
        urlLogo,
    ) {
      return this.generate.generateQRCode(
        companyCode,
        itemCode,
        productEnd,
        productStart,
        urlLink,
        urlLogo,
      )
    },
    async submit() {
      this.loadingSubmit = true
      await this.generateProcess(
        this.form.companyCode,
        this.form.itemCode,
        this.form.product.start,
        this.form.product.end,
        this.form.urlLink,
        this.form.urlLogo,
      )

      if(!this.isError) {
        const type = 'success'
        this.$notification[type]({
          message: 'Success',
          description:
            'Generated ssccessfully and generated on background several minutes',
        })
        router.push('/generate/0')
      } else {
        const type = 'error'
        this.$notification[type]({
          message: 'Error',
          description: this.errorCause,
        })
      }
      this.loadingSubmit = false
    },
    handleChange(value) {
      this.form.companyCode = value
    },
    filterOption(input, option) {
      return (
        option.children[0].children.toLowerCase().indexOf(input.toLowerCase()) >= 0
      );
    },
    handleChangeItem(value) {
      this.form.itemCode = value
    },
    filterOptionItem(input, option) {
      return (
        option.children[0].children.toLowerCase().indexOf(input.toLowerCase()) >= 0
      );
    },
  },
}
</script>
<style scoped>
.back-control {
  padding: 12px 0 12px 0;
  font-size: 16px;
  cursor: pointer;
}
</style>
