<template>
  <div>
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-lg-10">
                <vb-headers-card-header :data="{ title: 'Generate QRCode' }" />
              </div>
              <div class="col-lg-2">
                <a-button type="primary" block @click="generateQr">Generate</a-button>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="mb-2">
              <a-collapse v-model="activeKey">
                <a-collapse-panel key="1" header="Search">
                  <a-form layout="vertical">
                    <div class="row mb-4">
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-md-4">
                            <a-form-item label="Keyword">
                              <a-input v-model:value="search.code" />
                            </a-form-item>
                          </div>
                          <div class="col-md-4">
                            <a-form-item label="Date">
                              <a-date-picker :default-value="search.date" @change="onChangeDate" />
                            </a-form-item>
                          </div>
                          <div class="col-md-4">
                            <a-form-item label="Status">
                              <a-radio-group v-model:value="search.status" @change="onChangeStatus">
                                <a-radio :value="true">
                                  Active
                                </a-radio>
                                <a-radio :value="false">
                                  Inactive
                                </a-radio>
                              </a-radio-group>
                            </a-form-item>
                          </div>
                          <div class="col-md-12">
                            <a-button :loading="searchLoading" @click="searchAction" type="primary">
                              Search
                            </a-button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a-form>
                </a-collapse-panel>
              </a-collapse>
            </div>
            <div v-if="loadingData" class="loading">
              <a-spin tip="Loading data..." />
            </div>
            <a-empty v-else-if="dataItems.length === 0 && !loadingData" />
            <div v-else class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Header Code</th>
                    <th>Name</th>
                    <th>Company Code</th>
                    <th>Description</th>
                    <th>QRCode</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(item, index) in dataItems" :key="index">
                    <td>{{ item.code }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.companyCode }}</td>
                    <td>{{ item.description }}</td>
                    <td>
                      <a-button :loading="loadingDownload" type="primary" size="small" @click="download(item.code)">
                        Download
                      </a-button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <p>Page {{ pages.start }}</p>
            <a-button-group>
              <a-button :disabled="previousDisable" type="primary" @click="previous"> Previous </a-button>
              <a-button type="primary" @click="next"> Next</a-button>
            </a-button-group>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import VbHeadersCardHeader from '@/assets/widgets/Headers/CardHeader'
import { GenerateControllers } from "@/controllers/GenerateControllers"
import moment from 'moment';

export default {
  name: 'GenerateQrCode',
  components: {
    VbHeadersCardHeader,
  },

  data: vm => ({
    generate: new GenerateControllers(false, false, '', [], false, ''),
    activeKey: ['1'],
    searchLoading: false,
    search: {
      code: 'Code',
      date: moment().format('YYYY-MM-DD'),
      status: true,
    },
    meta: {
      page: Number(vm.$route.params.page),
      limit: 10,
    },
    pages: {
      start: Number(vm.$route.params.page) + 1,
    },
  }),
  computed: {
    dataItems() {
      return this.generate.dataItems
    },
    isError() {
      return this.generate.error
    },
    errorCause() {
      return this.generate.errorCause
    },
    loadingData() {
      return this.generate.loading
    },
    loadingDownload() {
      return this.generate.loadingDownload
    },
    previousDisable() {
      return this.meta.page === 0
    },
    zipUrl() {
      return this.generate.zipUrl
    },
  },
  created() {
    this.getList()
  },
  methods: {
    moment,
    generateQr() {
      this.$router.push({
        name: "Create QRCode",
      })
    },
    async getListProcess(column, date, status, page, size, sort) {
      return this.generate.listHeader(column, date, status, page, size, sort)
    },
    async getList() {
      await this.getListProcess(
        this.search.code,
        this.search.date,
        this.search.status,
        this.meta.page,
        this.meta.limit,
        'code,ASC',
      )

      if(this.isError) {
        const type = 'error'
        this.$notification[type]({
          message: 'Error',
          description: this.errorCause,
        })
      }
    },
    onChangeStatus(e) {
      this.search.status = e.target.value
    },
    onChangeDate(value) {
      this.search.date = moment(value).format('YYYY-MM-DD')
    },
    async searchAction() {
      this.searchLoading = true
      this.pages.start = 1
      this.meta.page = 0
      await this.getListProcess(
        this.search.code,
        this.search.date,
        this.search.status,
        this.meta.page,
        this.meta.limit,
        'code,ASC',
      )
      if(this.isError) {
        const type = 'error'
        this.$notification[type]({
          message: 'Error',
          description: this.errorCause,
        })
      }
      this.searchLoading = false
    },
    async previous() {
      this.pages.start -= 1
      this.meta.page -= 1
      await this.getListProcess(
        this.search.code,
        this.search.date,
        this.search.status,
        this.meta.page,
        this.meta.limit,
        'code,ASC',
      )

      if(this.isError) {
        const type = 'error'
        this.$notification[type]({
          message: 'Error',
          description: this.errorCause,
        })
      }
    },
    async next() {
      this.pages.start += 1
      this.meta.page += 1
      await this.getListProcess(
        this.search.code,
        this.search.date,
        this.search.status,
        this.meta.page,
        this.meta.limit,
        'code,ASC',
      )
      if(this.isError) {
        const type = 'error'
        this.$notification[type]({
          message: 'Error',
          description: this.errorCause,
        })
      }
    },
    async downloadProcess(code) {
      return this.generate.downloadHeader(code)
    },
    async download(code) {
      await this.downloadProcess(code)
      if(!this.isError) {
        window.location.href = this.zipUrl
      } else {
        const type = 'error'
        this.$notification[type]({
          message: 'Error',
          description: this.errorCause,
        })
      }
    },
  },
}
</script>
<style scoped>
.loading {
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 30px 50px;
  margin: 20px 0;
}
</style>
