<template>
  <div :class="$style.topbar">
    <div class="mr-4">
      <vb-fav-pages />
    </div>
    <div class="mr-auto mr-md-1">
      <vb-search />
    </div>
    <div class="mr-4 d-none d-md-block">
      <!-- <vb-issues-history /> -->
    </div>
    <div class="mr-auto d-xl-block d-none">
      <!-- <vb-project-management /> -->
    </div>
    <div class="mr-3 d-none d-sm-block">
      <vb-menu />
    </div>
    <div class="mr-3 d-sm-block">
      <vb-mode />
    </div>
    <div class="mr-3 d-none d-sm-block">
      <vb-notif />
    </div>
    <div class="mr-3 d-none d-sm-block">
      <vb-language-switcher />
    </div>
    <div>
      <vb-user-menu />
    </div>
  </div>
</template>

<script>
import VbIssuesHistory from './IssuesHistory'
import VbProjectManagement from './ProjectManagement'
import VbSearch from './Search'
import VbLanguageSwitcher from './LanguageSwitcher'
import VbNotif from './Notif'
import VbUserMenu from './UserMenu'
import VbFavPages from './FavPages'
import VbMode from './Mode'
import VbMenu from './Menu'

export default {
  components: {
    // VbIssuesHistory,
    // VbProjectManagement,
    VbSearch,
    VbLanguageSwitcher,
    VbNotif,
    VbUserMenu,
    VbFavPages,
    VbMode,
    VbMenu,
  },
}
</script>

<style lang="scss" module>
@import './style.module.scss';
</style>
