@import '@/mixins.scss';

.icon {
  margin-right: rem(8);
  position: relative;
  bottom: -2px;
  font-size: rem(24);
  color: $gray-5;
  @include transition-slow;
}

// dark theme
[data-vb-theme='dark'] {
  .icon {
    color: $dark-gray-2;
  }
}
