<template>
  <a-tooltip placement="left">
    <template #title>
      <span>Menu Show / Hide</span>
    </template>
    <a
      href="javascript: void(0);"
      @click="changeSettingMenu(settings.layoutMenu === 'classic' ? 'noMenu' : 'classic', 'layoutMenu')"
      >
      <i v-if="settings.layoutMenu === 'classic'" class="fa fa-eye" :class="$style.icon" />
      <i v-if="settings.layoutMenu !== 'classic'" class="fa fa-eye-slash" :class="$style.icon" />
    </a>
  </a-tooltip>
</template>

<script>
import { computed } from 'vue'
import { useStore } from 'vuex'

export default {
  setup() {
    const store = useStore()
    const settings = computed(() => store.getters.settings)

    const changeSettingMenu = (value, setting) => {
      store.commit('CHANGE_SETTING', { setting, value })
    }
    return {
      settings,
      changeSettingMenu,
    }
  },
}
</script>

<style lang="scss" module>
@import './style.module.scss';
</style>
