<template>
  <div>
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-12">
            <div class="back-control">
              <router-link to="/master/company/0"> <i class="fe fe-chevron-left"></i> Back </router-link>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-lg-12">
                <vb-headers-card-header :data="{ title: 'Create Company' }" />
              </div>
            </div>
          </div>
          <div class="card-body">
            <a-form :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
              <a-form-item required label="Code">
                <a-input v-model:value="form.code" style="width: 100%" />
              </a-form-item>

              <a-form-item required label="Company Name">
                <a-input v-model:value="form.companyName" style="width: 100%" />
              </a-form-item>

              <a-form-item required label="Warehouse">
                <a-input v-model:value="form.warehouseCode" style="width: 100%" />
              </a-form-item>

              <a-form-item required label="City">
                <a-input v-model:value="form.cityCode" style="width: 100%" />
              </a-form-item>

              <a-form-item required label="Country">
                <a-input v-model:value="form.countryCode" style="width: 100%" />
              </a-form-item>

              <a-form-item required label="Address">
                <a-textarea v-model:value="form.address" :rows="4" />
              </a-form-item>

              <a-form-item required label="Zip Code">
                <a-input type="number" v-model:value="form.zipCode" style="width: 100%" />
              </a-form-item>

              <a-form-item required label="Fax">
                <a-input v-model:value="form.fax" style="width: 100%" />
              </a-form-item>

              <a-form-item required label="Phone">
                <a-input type="number" v-model:value="form.phone" style="width: 100%" />
              </a-form-item>

              <a-form-item required label="Email">
                <a-input v-model:value="form.email" style="width: 100%" />
              </a-form-item>

              <a-form-item required label="NPWP">
                <a-input type="number" v-model:value="form.npwp" style="width: 100%" />
              </a-form-item>

              <a-form-item required label="NPWP Address">
                <a-textarea v-model:value="form.npwpAddress" :rows="4" />
              </a-form-item>

              <a-form-item label="Active Status">
                <a-switch @change="onChangeStatus" />
              </a-form-item>

              <a-form-item :wrapper-col="{ span: 12, offset: 5 }">
                <a-button :loading="loadingSubmit" :disabled="!formValid" @click="submit" type="primary" html-type="submit"> Submit </a-button>
              </a-form-item>
            </a-form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import VbHeadersCardHeader from '@/assets/widgets/Headers/CardHeader'
import moment from 'moment'
moment.suppressDeprecationWarnings = true
import { CompanyControllers } from "@/controllers/CompanyControllers"
import router from '@/router'

export default {
  name: 'CreateCompany',
  components: {
    VbHeadersCardHeader,
  },

  data: () => ({
    company: new CompanyControllers(false, false, ''),
    form: {
      code: '',
      companyName: '',
      cityCode: '',
      countryCode: '',
      address: '',
      fax: '',
      phone: '',
      email: '',
      logoPath: '',
      npwp: '',
      npwpAddress: '',
      zipCode: '',
      warehouseCode: '',
      status: false,
    },
    children: '',
    loadingSubmit: false,
  }),
  computed: {
    formValid() {
      return this.form.code &&
        this.form.cityCode &&
        this.form.countryCode &&
        this.form.address &&
        this.form.companyName &&
        this.form.fax &&
        this.form.email &&
        this.form.npwp &&
        this.form.npwpAddress &&
        this.form.zipCode
    },
    isError() {
      return this.company.error
    },
    errorCause() {
      return this.company.errorCause
    },
  },
  methods: {
    moment,
    onChangeStatus() {
      this.form.status = !this.form.status
    },
    async submitProcess(
      activeStatus,
      address,
      cityCode,
      code,
      countryCode,
      emailAddress,
      fax,
      logoPath,
      name,
      npwp,
      npwpAddress,
      phone1,
      warehouseCode,
      zipCode,
    ) {
      return this.company.createCompany(
        activeStatus,
        address,
        cityCode,
        code,
        countryCode,
        emailAddress,
        fax,
        logoPath,
        name,
        npwp,
        npwpAddress,
        phone1,
        warehouseCode,
        zipCode,
      )
    },
    async submit() {
      this.loadingSubmit = true
      await this.submitProcess(
        this.form.status,
        this.form.address,
        this.form.cityCode,
        this.form.code,
        this.form.countryCode,
        this.form.email,
        this.form.fax,
        this.form.logoPath,
        this.form.companyName,
        this.form.npwp,
        this.form.npwpAddress,
        this.form.phone,
        this.form.warehouseCode,
        this.form.zipCode,
      )

      if(!this.isError) {
        const type = 'success'
        this.$notification[type]({
          message: 'Success',
          description:
            'Data created and save to database successfully',
        })
        router.push('/master/company/0')
      } else {
        const type = 'error'
        this.$notification[type]({
          message: 'Error',
          description: this.errorCause,
        })
      }
      this.loadingSubmit = false
    },
  },
}
</script>
<style scoped>
.back-control {
  padding: 12px 0 12px 0;
  font-size: 16px;
  cursor: pointer;
}
</style>
