<template>
  <div>
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-12">
            <div class="back-control">
              <router-link :to="`/master/company/${page}`"> <i class="fe fe-chevron-left"></i> Back </router-link>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-lg-10">
                <vb-headers-card-header :data="{ title: 'Detail Company' }" />
              </div>
              <div class="col-lg-2">
                <a-button v-if="!isEdit" block type="primary" @click="edit()">
                    Edit
                </a-button>
                <a-button v-else block type="secondary" @click="cancel()">
                    Cancel
                </a-button>
              </div>
            </div>
          </div>
          <div class="card-body">
            <a-form :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }">
              <a-form-item required label="Code">
                <a-input disabled v-model:value="detailCompany.code" style="width: 100%" />
              </a-form-item>

              <a-form-item required label="Company Name">
                <a-input :disabled="!isEdit" v-model:value="detailCompany.name" style="width: 100%" />
              </a-form-item>

              <a-form-item required label="Warehouse">
                <a-input :disabled="!isEdit" v-model:value="detailCompany.warehouseCode" style="width: 100%" />
              </a-form-item>

              <a-form-item required label="City">
                <a-input :disabled="!isEdit" v-model:value="detailCompany.cityCode" style="width: 100%" />
              </a-form-item>

              <a-form-item required label="Country">
                <a-input :disabled="!isEdit" v-model:value="detailCompany.countryCode" style="width: 100%" />
              </a-form-item>

              <a-form-item required label="Address">
                <a-textarea :disabled="!isEdit" v-model:value="detailCompany.address" :rows="4" />
              </a-form-item>

              <a-form-item required label="Zip Code">
                <a-input :disabled="!isEdit" v-model:value="detailCompany.zipCode" type="number" style="width: 100%" />
              </a-form-item>

              <a-form-item required label="Fax">
                <a-input :disabled="!isEdit" v-model:value="detailCompany.fax" style="width: 100%" />
              </a-form-item>

              <a-form-item required label="Phone">
                <a-input :disabled="!isEdit" v-model:value="detailCompany.phone1" type="number" style="width: 100%" />
              </a-form-item>

              <a-form-item required label="Email">
                <a-input :disabled="!isEdit" v-model:value="detailCompany.emailAddress" style="width: 100%" />
              </a-form-item>

              <a-form-item required label="NPWP">
                <a-input :disabled="!isEdit" v-model:value="detailCompany.npwp" type="number" style="width: 100%" />
              </a-form-item>

              <a-form-item required label="NPWP Address">
                <a-textarea :disabled="!isEdit" v-model:value="detailCompany.npwpAddress" :rows="4" />
              </a-form-item>

              <a-form-item v-if="!isEdit" label="Active Status">
                <a-tag color="green" v-if="detailCompany.activeStatus">
                    Active
                </a-tag>
                <a-tag color="red" v-else>
                    In Active
                </a-tag>
              </a-form-item>

              <a-form-item v-else label="Active Status">
                <a-select :default-value="detailCompany.activeStatus" style="width: 50%;" @change="handleChangeStatus">
                    <a-select-option :value="true">
                        Aktif
                    </a-select-option>
                    <a-select-option :value="false">
                        In Aktif
                    </a-select-option>
                </a-select>
              </a-form-item>

              <a-form-item v-if="isEdit" :wrapper-col="{ span: 12, offset: 5 }">
                <a-button :loading="loadingSubmit" :disabled="!formValid" @click="update" type="primary" html-type="submit"> Update </a-button>
              </a-form-item>
            </a-form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import VbHeadersCardHeader from '@/assets/widgets/Headers/CardHeader'
import moment from 'moment'
moment.suppressDeprecationWarnings = true
import { CompanyControllers } from "@/controllers/CompanyControllers"
import router from '@/router'

export default {
  name: 'DetailCompany',
  components: {
    VbHeadersCardHeader,
  },

  data: vm => ({
    company: new CompanyControllers(false, false, ''),
    page: vm.$route.params.page,
    isEdit: false,
    loadingSubmit: false,
  }),
  computed: {
    formValid() {
      return this.detailCompany.code &&
        this.detailCompany.cityCode &&
        this.detailCompany.countryCode &&
        this.detailCompany.address &&
        this.detailCompany.name &&
        this.detailCompany.fax &&
        this.detailCompany.emailAddress &&
        this.detailCompany.phone1 &&
        this.detailCompany.npwp &&
        this.detailCompany.npwpAddress &&
        this.detailCompany.warehouseCode &&
        this.detailCompany.zipCode
    },
    isError() {
      return this.company.error
    },
    errorCause() {
      return this.company.errorCause
    },
    detailCompany() {
        return this.company.detailCompany
    },
  },
  created() {
    this.getCompanyByCode()
  },
  methods: {
    getCompanyByCode() {
        return this.company.getCompanyById(this.$route.params.id)
    },
    moment,
    edit() {
        this.isEdit = true
    },
    cancel() {
        this.isEdit = false
        this.getCompanyByCode()
    },
    handleChangeStatus(value) {
        this.detailCompany.activeStatus = value
    },
    async updateProcess(
      activeStatus,
      address,
      cityCode,
      code,
      countryCode,
      emailAddress,
      fax,
      logoPath,
      name,
      npwp,
      npwpAddress,
      phone1,
      warehouseCode,
      zipCode,
    ) {
      return this.company.updateCompany(
        activeStatus,
        address,
        cityCode,
        code,
        countryCode,
        emailAddress,
        fax,
        logoPath,
        name,
        npwp,
        npwpAddress,
        phone1,
        warehouseCode,
        zipCode,
      )
    },
    async update() {
      this.loadingSubmit = true
      await this.updateProcess(
        this.detailCompany.activeStatus,
        this.detailCompany.address,
        this.detailCompany.cityCode,
        this.detailCompany.code,
        this.detailCompany.countryCode,
        this.detailCompany.emailAddress,
        this.detailCompany.fax,
        '',
        this.detailCompany.name,
        this.detailCompany.npwp,
        this.detailCompany.npwpAddress,
        this.detailCompany.phone1,
        this.detailCompany.warehouseCode,
        this.detailCompany.zipCode,
      )

      if(!this.isError) {
        const type = 'success'
        this.$notification[type]({
          message: 'Success',
          description:
            'Data updated and save to database successfully',
        })
        this.cancel()
      } else {
        const type = 'error'
        this.$notification[type]({
          message: 'Error',
          description: this.errorCause,
        })
      }
      this.loadingSubmit = false
    },
  },
}
</script>
<style scoped>
.back-control {
  padding: 12px 0 12px 0;
  font-size: 16px;
  cursor: pointer;
}
</style>
