<template>
  <div>
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-lg-8">
                <vb-headers-card-header :data="{ title: 'Company List' }" />
              </div>
              <div class="col-lg-2">
                <a-button type="secondary" block @click="imports">Import</a-button>
              </div>
              <div class="col-lg-2">
                <a-button type="primary" block @click="create">Create</a-button>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="mb-2">
              <a-collapse v-model="activeKey">
                <a-collapse-panel key="1" header="Search">
                  <a-form layout="vertical">
                    <div class="row mb-4">
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-md-4">
                            <a-form-item label="Keyword">
                              <a-input v-model:value="search.code" />
                            </a-form-item>
                          </div>
                          <div class="col-md-4">
                            <a-form-item label="Status">
                              <a-radio-group v-model:value="search.status" @change="onChangeStatus">
                                <a-radio value="active">
                                  Active
                                </a-radio>
                                <a-radio value="inactive">
                                  Inactive
                                </a-radio>
                              </a-radio-group>
                            </a-form-item>
                          </div>
                          <div class="col-md-12">
                            <a-button type="primary" :loading="searchLoading" @click="searchAction">
                              Search
                            </a-button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a-form>
                </a-collapse-panel>
              </a-collapse>
            </div>
            <div v-if="loadingData" class="loading">
              <a-spin tip="Loading data..." />
            </div>
            <a-empty v-else-if="dataItems.length === 0 && !loadingData" />
            <div v-else class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Code</th>
                    <th>Company Name</th>
                    <th>Address</th>
                    <th>City Code</th>
                    <th>Customer Code</th>
                    <th>Status</th>
                    <th>Detail</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(item, index) in dataItems" :key="index">
                    <td>{{ item.code }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.address }}</td>
                    <td>{{ item.cityCode }}</td>
                    <td>{{ item.customerCode }}</td>
                    <td>
                      <a-tag color="green" v-if="item.activeStatus">
                        Active
                      </a-tag>
                      <a-tag color="red" v-else>
                        In Active
                      </a-tag>
                    </td>
                    <td>
                      <a-button type="secondary" size="small" @click="detail(item.code)">
                        Detail
                      </a-button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <p>Page {{ pages.start }}</p>
            <a-button-group>
              <a-button :disabled="previousDisable" type="primary" @click="previous"> Previous </a-button>
              <a-button type="primary" @click="next"> Next</a-button>
            </a-button-group>
          </div>
        </div>
      </div>

      <a-modal
        title="Import File"
        :visible="modalImport"
        :confirm-loading="confirmLoading"
        @ok="handleOk"
        ok-text="upload"
        @cancel="handleCancel"
      >
        <input type="file" @change="changeMedia" />
      </a-modal>
    </div>
  </div>
</template>

<script>
import VbHeadersCardHeader from '@/assets/widgets/Headers/CardHeader'
import { CompanyControllers } from "@/controllers/CompanyControllers"

export default {
  name: 'MasterCompany',
  components: {
    VbHeadersCardHeader,
  },

  data: vm => ({
    company: new CompanyControllers(false, false, '', []),
    modalImport: false,
    confirmLoading: false,
    file: {
      thereIsFile: false,
      fileValue: null,
    },
    activeKey: ['1'],
    searchLoading: false,
    search: {
      code: 'Code',
      status: true,
    },
    meta: {
      page: Number(vm.$route.params.page),
      limit: 10,
    },
    pages: {
      start: Number(vm.$route.params.page) + 1,
    },
  }),
  computed: {
    dataItems() {
      return this.company.dataItems
    },
    isError() {
      return this.company.error
    },
    errorCause() {
      return this.company.errorCause
    },
    loadingData() {
      return this.company.loading
    },
    previousDisable() {
      return this.meta.page === 0
    },
  },
  created() {
    this.getList()
  },
  methods: {
    create() {
      this.$router.push({
        name: "Create Company",
      })
    },
    detail(id) {
      this.$router.push({
        name: "Detail Company",
        params: {
          page: this.meta.page,
          id: id,
        },
      });
    },
    async submitProcess(fileImport) {
      return this.company.importCompany(fileImport)
    },
    changeMedia(e) {
      const selectImage = e.target.files[0]
      this.file.fileValue = selectImage
    },
    imports() {
      this.modalImport = true
    },
    async handleOk() {
      this.confirmLoading = true
      await this.submitProcess(this.file.fileValue)

      if(!this.isError) {
        const type = 'success'
        this.$notification[type]({
          message: 'Success',
          description:
            'Data imported and save to database successfully',
        })
        this.modalImport = false
        this.confirmLoading = false
      } else {
        const type = 'error'
        this.$notification[type]({
          message: 'Error',
          description: this.errorCause,
        })
        this.confirmLoading = false
      }
    },
    handleCancel(e) {
      this.modalImport = false
    },
    onChangeStatus(e) {
      this.search.status = e.target.value
    },
    async searchAction() {
      this.searchLoading = true
      this.pages.start = 1
      this.meta.page = 0
      await this.getListProcess(
        this.search.code,
        this.search.status,
        this.meta.page,
        this.meta.limit,
        'code,ASC',
      )
      if(this.isError) {
        const type = 'error'
        this.$notification[type]({
          message: 'Error',
          description: this.errorCause,
        })
      }
      this.searchLoading = false
    },
    async getListProcess(column, status, page, size, sort) {
      return this.company.listCompany(column, status, page, size, sort)
    },
    async getList() {
      await this.getListProcess(
        this.search.code,
        this.search.status,
        this.meta.page,
        this.meta.limit,
        'code,ASC',
      )

      if(this.isError) {
        const type = 'error'
        this.$notification[type]({
          message: 'Error',
          description: this.errorCause,
        })
      }
    },
    async previous() {
      this.pages.start -= 1
      this.meta.page -= 1
      await this.getListProcess(
        this.search.code,
        this.search.status,
        this.meta.page,
        this.meta.limit,
        'code,ASC',
      )

      if(this.isError) {
        const type = 'error'
        this.$notification[type]({
          message: 'Error',
          description: this.errorCause,
        })
      }
    },
    async next() {
      this.pages.start += 1
      this.meta.page += 1
      await this.getListProcess(
        this.search.code,
        this.search.status,
        this.meta.page,
        this.meta.limit,
        'code,ASC',
      )
      if(this.isError) {
        const type = 'error'
        this.$notification[type]({
          message: 'Error',
          description: this.errorCause,
        })
      }
    },
  },
}
</script>
<style scoped>
.loading {
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 30px 50px;
  margin: 20px 0;
}
</style>
