<template>
  <styleLoader />
  <localization />
</template>

<script>
import Localization from '@/localization'
import StyleLoader from '@/styleLoader'

export default {
  name: 'App',
  components: { Localization, StyleLoader },
  setup() {},
}
</script>
